In [3]:
import pandas as pd

# Dando entrada no dataframe e colocando a coluna produtos como index
produtos_df = pd.read_excel(r'E:\Downloads\Drive - hashtag\Produtos.xlsx').set_index('Produtos')

Integração Python x Excel:

    - Pandas:
        - Mais usada por tratas os dados da forma como quiser
        - Não se importa se o dado é uma fórmula ou não

    - Openpyxl:
        - Trata como se fosse uma planilha de excel, dando importância caso o dado seja uma fórmula
        - Mantém gráficos e fórmulas (verificar, pois nem sempre funciona)

Atualizar dados na planilha:
    - pandas
    - openpyxl

In [4]:
display(produtos_df)

,Preço Base Original,Tipo,Multiplicador Imposto,Preço Base Reais
Produtos,,,,
Tablet,999.99,Produto,1.1,1099.989
Pós Graduação,4500.00,Serviço,1.3,5850.000
Celular,899.99,Produto,1.1,989.989
Passagem Aérea,799.00,Serviço,1.3,1038.700
Computador,3000.00,Produto,1.1,3300.000
SPA,480.48,Serviço,1.3,624.624
Corte Cabelo,50.00,Serviço,1.3,65.000

Pandas:

In [6]:
# Para cada linha - quando a coluna tipo for igual a serviço, o valor da coluna multiplicador imposto recebe 1,5
produtos_df.loc[produtos_df['Tipo'] == 'Serviço', 'Multiplicador Imposto'] = 1.5
display(produtos_df)

# alterando a coluna preço base reais
produtos_df['Preço Base Reais'] = produtos_df['Preço Base Original'] * produtos_df['Multiplicador Imposto']
display(produtos_df)

# salvar o arquivo como excel
produtos_df.to_excel(r'E:\Downloads\Drive - hashtag\ProdutosPandas.xlsx')

,Preço Base Original,Tipo,Multiplicador Imposto,Preço Base Reais
Produtos,,,,
Tablet,999.99,Produto,1.1,1099.989
Pós Graduação,4500.00,Serviço,1.5,6750.000
Celular,899.99,Produto,1.1,989.989
Passagem Aérea,799.00,Serviço,1.5,1198.500
Computador,3000.00,Produto,1.1,3300.000
SPA,480.48,Serviço,1.5,720.720
Corte Cabelo,50.00,Serviço,1.5,75.000

,Preço Base Original,Tipo,Multiplicador Imposto,Preço Base Reais
Produtos,,,,
Tablet,999.99,Produto,1.1,1099.989
Pós Graduação,4500.00,Serviço,1.5,6750.000
Celular,899.99,Produto,1.1,989.989
Passagem Aérea,799.00,Serviço,1.5,1198.500
Computador,3000.00,Produto,1.1,3300.000
SPA,480.48,Serviço,1.5,720.720
Corte Cabelo,50.00,Serviço,1.5,75.000

Openpyxl:

In [9]:
# importando os comandos que serão utilizados
from openpyxl import Workbook, load_workbook

# dando entrada no dataframe
planilha = load_workbook(r'E:\Downloads\Drive - hashtag\Produtos.xlsx')

# escolhendo a aba ativa - argumento.active - argumento é o nome da aba
aba_ativa = planilha.active

# percorrer por todos as linhas dentro de uma coluna - aba_ativa['argumento'] - argumento diz qual coluna quer trabalhar
for celula in aba_ativa['C']:
    if celula.value == 'Serviço':
        linha = celula.row
        aba_ativa[f'D{linha}'] = 1.5

# salvar as mudanças
planilha.save(r'E:\Downloads\Drive - hashtag\ProdutosOpenpyxl.xlsx')